

            <div class="row row-cols-1 row-cols-md-4 row-cols-sm-2  g-2 own_contianer" data-meta="entry" id="homeBody">


            <!-- main container and all card content  -->


            <div class="col">

            <div class="card h-100 own_card ">
            <img class="img-fluid own" src="assets/img/caro1.jpg" class="card-img-top" alt="...">


            <div class="card-body text-center">
            <h2 class="card-title"></h2>


            <h5 class="list-group-item"><b>origin:</b>Angular</h5>




            <p class="card-text" data-meta="display" data-id="">hello</p>
            <button type="button" class="btn btn-outline-success"data-meta="button" data-id="" >info</button>
            </div> 

            <div class="card-footer">
            <small class="text-muted">Time&Date :<br/></small>


            <small class="text-muted"></small>



            </div>
            </div>
            </div>



            <div class="col">

            <div class="card h-100 own_card ">
            <img class="img-fluid own" src="assets/img/caro1.jpg" class="card-img-top" alt="...">


            <div class="card-body text-center">
            <h2 class="card-title"></h2>


            <h5 class="list-group-item"><b>origin:</b>Angular</h5>




            <p class="card-text" data-meta="display" data-id="">hello</p>
            <button type="button" class="btn btn-outline-success"data-meta="button" data-id="" >info</button>
            </div> 

            <div class="card-footer">
            <small class="text-muted">Time&Date :<br/></small>


            <small class="text-muted"></small>



            </div>
            </div>
            </div>

            
            <div class="col">

            <div class="card h-100 own_card ">
            <img class="img-fluid own" src="assets/img/caro1.jpg" class="card-img-top" alt="...">


            <div class="card-body text-center">
            <h2 class="card-title"></h2>


            <h5 class="list-group-item"><b>origin:</b>angular</h5>




            <p class="card-text" data-meta="display" data-id="">hello</p>
            <button type="button" class="btn btn-outline-success"data-meta="button" data-id="" >info</button>
            </div> 

            <div class="card-footer">
            <small class="text-muted">Time&Date :<br/></small>


            <small class="text-muted"></small>



            </div>
            </div>
            </div>




            <div class="col">

            <div class="card h-100 own_card ">
            <img class="img-fluid own" src="assets/img/caro1.jpg" class="card-img-top" alt="...">


            <div class="card-body text-center">
            <h2 class="card-title"></h2>


            <h5 class="list-group-item"><b>origin:</b>Angular</h5>




            <p class="card-text" data-meta="display" data-id="">hello</p>
            <button type="button" class="btn btn-outline-success"data-meta="button" data-id="" >info</button>
            </div> 

            <div class="card-footer">
            <small class="text-muted">Time&Date :<br/></small>


            <small class="text-muted"></small>



            </div>
            </div>
            </div>       

            </div> 

